.filterContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .filterContainer select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  